<h1>Editing task</h1>

<%= render 'form' %>
<br />
<p><%= link_to '<i class="fa fa-trash-o"></i> Destroy'.html_safe, @task, method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Back', tasks_path %></p>
