<h1>To-do</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Content</th>
      
    </tr>
  </thead>

  <tbody>
	<%= render @to_do %>
  </tbody>
</table>

<br>

<h1>Doing</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
	<%= render @doing %>
  </tbody>
</table>

<br>

<h1>Done</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
	<%= render @done %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path, class:"btn btn-primary" %>
