<div class="jumbotron">
<h1><i class="fa fa-calendar"></i> StubDo</h1>

<p>This is a test app - as a starter for Rails.</p>

<b>Go!</b> <br />

<p><%= link_to 'About us', about_path, class: "btn btn-primary btn-sm" %></p>

</div>