<div class="jumbotron">
<h1><i class="fa fa-calendar"></i> StubDo</h1>

<p>This is a test TODO list app - as a starter for Rails.</p>

<b></b> <br />

<p><%= link_to 'Sign up', new_user_registration_path, class: "btn btn-primary btn-m" %></p>

</div>